.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  max-width: 600px;
  margin: auto;
  padding: 2rem;
  box-shadow: rgba(100,100,100,0.2) 2px 2px 5px;
}

.reciept {
  width: 80%;
  padding: 1rem;
  border-radius: 10px;
  margin-top: 3rem;
}

.recieptGrid {
  display: grid;
  align-self: center;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: auto;
  border-bottom: 1px solid black;
  margin-top: 2rem;

}