
.container {
  /* background: teal; */
  width: 100%;
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 0rem; */
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  padding: 5px;
  justify-content: space-between;
  /* grid-template-columns: 100px 100px; */
}

.productItem {
  /* width: 100%; */
  flex-basis: 50%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productCard {
  max-width: 400px;
  background: white;
  box-shadow: rgba(100,100,100,0.2) 2px 2px 5px;
  margin: 20px;
  border-radius: 30px;
  transition: all 0.1s ease-in-out;
}

.productCard:hover {
  max-width: 400px;
  background: white;
  box-shadow: rgba(100,100,100,0.2) 3px 3px 10px;
  transform: scale(1.01);
  transition: all 0.1s ease-in-out;
}

.productImage {
  width: 100%;
  border-radius: 20px 20px 0 0;
  filter:saturate(0.6);
  cursor: pointer;
}

.productDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

@media only screen and (max-width: 720px) {

  .productItem {
    flex-basis: 100%;
  }


}