.grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 2rem;
  gap: 1rem;
}


.title {
  /* width: 50%; */
  max-width: 800px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  /* font-family: 'Lora', serif; */
}

.title>h1 {

  font-size: clamp(2rem, 5vw, 4rem);
  font-weight: 600;
  /* margin-bottom: 1rem; */
}

.content {
  font-size: clamp(0.8rem, 1vw, 1rem);
  margin-bottom: 2rem;
}

.price {
  margin-top: .5rem;
  font-size: 1.5rem;
}

.imageWrapper {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
  /* width: '800px'; */
}

.mainImage {
  max-height: 80vh;
  width: 80%;
  border-radius: 30px;
  /* aspect-ratio: 5 / 6; */
  object-fit: cover;
}


.altImagesWrapper {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
}

.altImages {
  width: 32%;
  border-radius: 10px;
}



@media only screen and (max-width: 1000px) {

  .grid {
    flex-direction: column;
    align-items: center;
  }

  .title {
    order: 2;
    max-width: 1000px;
  }

  .imageWrapper {
    justify-content: center;
    width: 100%;
    /* max-height: 200px; */
    order: 0;

    /* width: '800px'; */
  }

  .mainImage {
    width: 100%;
    /* max-height: 60vh; */
    border-radius: 30px 30px 0 0;
    /* aspect-ratio: 10 / 6; */

  }


  .altImagesWrapper {
    width: 100%;
    /* background: red; */
  }

  .altImages {
    border-radius: 5px;
    /* background: red; */
  }

}